*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background: transparent;
}



html,body{
    height: 100%;
}

.navbar{
    transition: .5s;
}

/* HOME PAGE */
/* ||||||||| */

.body-home.dark-theme{
    background: url(/img/bg-dark-4765.gif);
    color: rgb(160, 160, 160);
    
}

.body-home.light-theme{
    background:#000 url(/img/bg-light-4828.png);
    color: rgb(73, 73, 73);
}

.body-home .navbar .navbar-buttons .navbar-button{
    text-transform: uppercase;
    font-weight: 500;
}

.body-home .navbar .navbar-button{
    position: relative;
    font-size: 20px;
    padding: 3px 6px;
}

.body-home .navbar .navbar-buttons .auth-links ul{
    position: absolute;
    left: -5px;
    list-style: none;
    text-align: center;
    transition: .5s;
    display: none;
}

.body-home .navbar .navbar-buttons .auth-links:hover  ul{
    display: block;
}

.body-home .navbar .navbar-buttons .auth-links ul li{
    position: relative;
    margin: 5px 0px;
    padding: 5px 0px;
}

.body-home .navbar .navbar-buttons .auth-links ul li a{
    text-decoration: none;
    color: gray;
    text-transform: none;
    text-transform: uppercase;
}

.body-home .navbar .navbar-buttons .navbar-button::before,
.body-home .navbar .navbar-buttons .navbar-button::after,
.body-home .navbar .navbar-buttons .auth-links ul li::before{
    position: absolute;
    content: '';
    width:100%;
    height: 2px;
    background: gray;
    left: 0;
    opacity: 0;
    transition: .3s;
}


.body-home .navbar .navbar-buttons .navbar-button::before{
    top: 0;
    transform: translateY(-5px);
}    
    
.body-home .navbar .navbar-buttons .navbar-button::after,
.body-home .navbar .navbar-buttons .auth-links ul li::before{
    bottom: 0;
    transform: translateY(10px);
}    

.body-home .navbar .navbar-buttons .navbar-button:hover::before,
.body-home .navbar .navbar-buttons .navbar-button:hover::after,
.body-home .navbar .navbar-buttons .auth-links ul li:hover::before{
    transform: translateY(0);
    opacity: 1;
}


.body-home .container{
    margin: auto;
}







/* END HOME PAGE */
/* ||||||||||||| */





/*AUTH FORM*/
/* ||||||| */

.body-auth.light-theme .navbar{
    background: white;
    color: black;
}

.body-auth.dark-theme .navbar{
    background: black;
    color: rgb(197, 197, 197);
}

.body-auth{
    width: 100%;
    height:100%;
    background: url(/img/rabstol_net_canada_31.jpg) center top no-repeat fixed ;
    background-size: cover;
}

.body-auth .header .navbar-buttons .home-button a{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
    text-transform: uppercase;
    text-decoration: none;
    color: gray; 
    padding-bottom: 3px;
}

.body-auth .header .navbar-buttons .home-button a::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: gray;
    bottom: -10px;
    opacity: 0;
    transition: .3s;
}

.body-auth .header .navbar-buttons .home-button a:hover::before{
    bottom: 0;
    opacity: 1;
}

.form-auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    padding: 40px;
    font-size: 20px;
    border-radius: 7px;
    width: 55%;
    min-width: 300px;
    transition: .3s;
    box-shadow: 0 0 10px black;
}

.form-auth .alert--error-valid{
    background: rgba(253, 64, 73, 0.6);
    width: 100%;
    padding: 20px 40px;
    border-radius: 5px ;
}

.light-theme .form-auth{
    color: black;
    background: rgba(255, 255, 255, 0.8);
}

.dark-theme .form-auth{
    color: rgb(197, 197, 197);
    background: rgba(0, 0, 0, 0.8);
}

.form-auth h3{
    text-transform: uppercase;
}

.form-auth .input-div{
    width: 100%;
    margin-top: 60px;
    position: relative;
}

.form-auth .input-100 .input-name {
    width: 45%;
    position: relative;
}

.form-auth .input-100{
    display: flex;
    justify-content: space-between;
}

.form-auth .input-div label{
    margin-top: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: .3s;
}

.form-auth input[type='text'],
.form-auth input[type='password']{
    width: 100%;
    border: none;
    outline: none;
}

.light-theme .form-auth input[type='text'],
.light-theme .form-auth input[type='password']{
    color: black;
    border-bottom: 2px solid black;
}

.dark-theme .form-auth input[type='text'],
.dark-theme .form-auth input[type='password']{
    color: rgb(197, 197, 197);
    border-bottom: 2px solid white;
}

.form-auth .input-div input:focus ~ label,
.form-auth .input-div input:valid ~ label,
.form-auth .input-div .input-name input:focus ~ label,
.form-auth .input-div .input-name input:valid ~ label{
    font-size: 15px;
    top: -20px;
    left: 0px;
}

.form-auth label{
    margin-top: 15px;
    align-self: flex-start;
}

.form-auth label input{
    margin-right: 5px;
    outline: none;
}

.form-auth .submit-button{
    position: relative;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    padding:8px;
    border: none;
    margin-top: 30px;
    align-self: flex-start;
    outline: none;
}

.form-auth .submit-button::before{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 2px;
    content: "";
    transition: 0.3s;
}

.light-theme .form-auth .submit-button{
    color: black;
}

.light-theme .form-auth .submit-button::before{
    background: black;
}

.dark-theme .form-auth .submit-button{
    color: white;
}

.dark-theme .form-auth .submit-button::before{
    background: white;
}

.form-auth .submit-button:hover::before{
    bottom: 0;
    opacity: 1;
}



/*END AUTH FORM*/
/* ||||||||||| */